.authContainer {
  display: flex;
  align-items: center;
  height: 70vh;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
}

.fairy {
  color: #4fdd14;
}

.form {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

.form input {
  font-family: 'Poppins';
  width: 18.125rem;
  height: 2.4rem;
  border: 1px solid var(--black);
  border-radius: 4px;
  padding: 13px;
  outline: none;
  color: #3d393d;

}

.form label {
  color: #3d393d;
  font-size: 1.1rem;
  margin-bottom: 7px;
}



.form label:nth-child(3) {
  margin-top: 16px;
}

.form label:nth-child(5) {
  margin-top: 16px;
}

.form label:nth-child(7) {
  margin-top: 16px;
}

.loginFooter {
  margin-top: 20px;
  font-family: 'Poppins';
}


.loginFooter span {
  color: #4fdd14;
}